@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);

}
.container{
  padding: 1rem;
  margin: 3rem auto;
  max-width: 300px;
 background-color: white;
 border-radius: 10px;
 box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}
.container img{
  width: 100%;
  border-radius: 8px;
}
.container .heading{
  padding: .75rem 0;
  font-size: 1.1rem;
  color: hsl(218, 48%, 16%);
  font-weight: 900;
  text-align: center;
}
.container .text .desc{
  color: hsl(216, 15%, 48%);
  padding: 1rem 0;
  text-align: center;
}
/* media query */
@media (max-width: 480px) {
  .container {
    margin: 2rem auto;
    padding: 1rem;
    max-width: 90%;
  }
}
